.color{
    color: #10828A;
 }
 .font{
    font-weight: 600;
 }
 .galleryButton{
    background-color: #31A59E;
    color: #ffffff;
}
.galleryButton:hover{
    background-color: black;
    color: white;
}