.color{
    color: #10828A;
 }
 .font{
    font-weight: 600;
 }
 .btnColor{
    color: #31A59E;
 }
 .margin{
    margin-top: 8rem;
    margin-right: 87px;
 }
 .galleryButton{
   background-color: #10828A;
   color: #ffffff;
}
.galleryButton:hover{
   background-color: black;
   color: white;
}