.color{
    color: #10828A;
 }
 .font{
    font-weight: 600;
 }
 .aminitiesButton{
    background-color: #31A59E;
    color: #ffffff;
}
.aminitiesButton:hover{
    background-color: black;
    color: white;
}